
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 2000;
  background: white;
}
#header .nav{
  height: 70px;
  display: flex;
  justify-content: space-around;
}
#header .logo,.search {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}
#header .navig{
  color: var(--sk-black);
  display: flex;
  align-items: center;
  
}
#header .navig-li{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 70px;
  margin-left: 20%;
  line-height: 70px;
  list-style-type: none;
  margin: 0!important;
  padding: 0!important;
}
#header .navig-li li{
  width: 15%;
  display: inline-block;
  text-align: center;
  height: 100%;
}
#header ul {
    display: none;
}
#header .list-open{
  display: block;
  border-radius: 15px;
  background-color: honeydew;
} 
.header .mobile-nav-toggle{
  display: block;
    position: fixed;
    color: white;
    font-size: 30px;
    right: 7%;
    z-index: 2000;
    top: 12px;
} 
#header .logo{
  width: 15%;
}
#header .dropdown-toggle::after {
  display: none!important;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}
.header .nav-mobile{
  position: fixed;
  z-index: 1500;
  padding: 70px 0;
  width: 100%!important;
  background-color: #062822!important;
  border-radius: 4px;
  right: 500%;
  top: 0;
  transition: 2s;
}
.mobile-nav-visible{
  right: initial!important;
  transition: 4s;
}
.header .lien{
  padding: 11px 0;
  text-align: center;
  font-size: 22px;
  text-decoration: none;
  color: var(--sk-white);
  font-weight: bold;
  border-top: 0.5px solid var(--sk-white);
  border-bottom: 1px solid var(--sk-white);
  text-decoration: none!important;
}
.header .lien a{
  color: var(--sk-white);
  font-weight: bold;
  text-decoration: none!important;
}
.header a:-webkit-any-link{
  text-decoration: none!important;
}
.header .nav-mobile  .liste{
  padding: 7px 5px;
  text-align: center!important;
  color: gold!important;
}
.header .icon-contact{
    color: var(--sk-white);
    position: absolute;
    top: 350px;
    right: 0;
    z-index: 10000;
    transform: translateX(83%); 
}
.header .icon-telphon{
  background-color: var(--sk-black);
  margin: 5px 0;
  padding: 12px 35px 12px 10px;
  cursor: pointer;
  transition: 0.5s all ease;
}
.header .icon-whatsapp{
  margin: 5px 0;
  padding: 12px 35px 12px 10px;
  cursor: pointer;
  background-color: var(--sk-black);
  transition: 0.5s all ease;
}
.header .icon-telphon:hover,.icon-whatsapp:hover{
  transform: translateX(-83%);
}
/*
  * Desktop Navigation 
  */
@media only screen and (min-width: 768px) {
  #header ul {
      display: flex;
  }
  .header .nav-mobile{
    display: none!important;
  }
  .bi-list::before {
    display: none!important;
  }
 .bi-x::before {
  display: none!important;
  }
  #header .logo{
    width: 15%;
    padding: 8px 2px 5px 2px;
  }
}


 
@media only screen and (min-width: 992px){
  
}